<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937450520103-mulidtbqb9lmips3p4jq5q1q5i539cpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937450520103-mulidtbqb9lmips3p4jq5q1q5i539cpo</string>
	<key>API_KEY</key>
	<string>AIzaSyDMnr71imO07neXA_gJFn3f5fV3bR6ur3o</string>
	<key>GCM_SENDER_ID</key>
	<string>937450520103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bokyung.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>oursummer-7a03b</string>
	<key>STORAGE_BUCKET</key>
	<string>oursummer-7a03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937450520103:ios:53daf62acdd4d724a3d802</string>
</dict>
</plist>